#traffic-map {
    height: 100%;
    width: 35%;
    position: absolute;
    z-index: 1;
    right: 0;

    .gmnoprint {
        display: none !important;
    }

    button {
        display: none !important;
    }
}

.duration-container {
    background: #fff;
    width: 34%;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 1%;
    right: 0.5%;
}
