.weather-container {
    text-align: center;

    .weather-current {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-family: Helvetica;
        color: #ededed;
        text-transform: uppercase;
        padding-top: 100px;
    }
}
